@import "./vars";

footer {
    padding: 0;
    margin: 0;
    background-color: $textColor;
    color: $textColorLight;
    max-height: 55px;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;

    p.footer-content {
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }
}
