@charset 'UTF-8';

@import "./normalize.scss";
@import "./vars";

@import url('https://fonts.googleapis.com/css?family=Play&display=swap&subset=latin-ext');


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Play', sans-serif;
    color: $textColor;
}

div.article {
    max-height: calc(100% - 70px);
    display: block;
    width: 100%;
    position: fixed;
    top: 70px;
    bottom: 55px;
    overflow: auto;
    
    div.title {

        h1 {
            text-align: center;
            font-weight: 100;
            font-size: 4em;
            color: lighten($textColor, 20%);
        }
    }
    
    div.content {
        padding: 25px;
        text-align: center;
        line-height: 1.25em;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;

            li {
                margin: 10px 0;
                a {
                    text-decoration: none;
    
                }
            }
        }

        img {
            max-width: 400px;
        }
    }
}


