@import "./vars";

nav.navbar {
    background-color: $textColor;
    padding: 15px 0;
    position: fixed;
    top: 0%;
    display: block;
    width: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
            transition: all .2s;
            cursor: pointer;

            a {
                padding: 10px 25px;
                display: inline-block;
                color: $textColorLight;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
            }

            &:hover {
                color: saturate($textColorLight, 20%);
                border-bottom: 2px solid $textColorLight;
            }

            &.active {
                border-bottom: 2px solid $accentColor;
                
                &:hover {
                    border-bottom: 2px solid saturate($accentColor, 50%);
                }
            }
        }
    }
}
